.App {
  margin: auto;
  max-width: 800px !important;
}

textarea:focus, input:focus{
  outline: none;
}

textarea, input, button {
  font-family: inherit;
  font-size: inherit;
  font-size: 16px;
  padding: 4px;
  border: 2px solid gray;
  border-radius: 4px;
}

button {
  cursor: pointer;
}

